* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
:root {
  --Blue-Screen-of-Death: #0a2fb6;
  --Antarctica: #b9b8b8;
  --Grotesque-Green: #54e28d;
  --Cool-Current: #263a43;
  --Palladium: #b1b1b1;
  --Stieglitz-Silver: #8e8e8e;
  --Cactus-Water: #d4ffe4;
  --Fatal-Fields: #008a27;
  --white: white;
  --black: black;
}
header .container {
  padding: 20px 0;
}
header .container a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: var(--Blue-Screen-of-Death);
}
