* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
:root {
  --Blue-Screen-of-Death: #0a2fb6;
  --Antarctica: #b9b8b8;
  --Grotesque-Green: #54e28d;
  --Cool-Current: #263a43;
  --Palladium: #b1b1b1;
  --Stieglitz-Silver: #8e8e8e;
  --Cactus-Water: #d4ffe4;
  --Fatal-Fields: #008a27;
  --white: white;
  --black: black;
}
header {
  padding: 20px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
}
header .container a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: var(--Blue-Screen-of-Death);
}
section .container {
  display: flex;
  gap: 200px;
  align-items: center;
  height: calc(100vh - 120px);
  padding: 100px 20px 0 20px;
}
section .container .login h1 {
  font-size: 35px;
  font-weight: 600;
  font-family: "Open Sans", serif;
  padding-bottom: 20px;
}
section .container .login p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", serif;
  color: var(--Antarctica);
  line-height: 21.7px;
  padding-top: 10px;
}
section .container .login form {
  margin-top: 50px;
}
section .container .login form label {
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans", serif;
}
section .container .login form input:nth-child(1) {
  outline: none;
  border: 0.6px solid var(--Palladium);
  border-bottom: 5px solid var(--Grotesque-Green);
  border-radius: 6px;
  width: 100%;
  padding: 20px;
  margin: 10px 0 20px 0;
}
section .container .login form input:nth-child(1)::placeholder {
  font-size: 17px;
  font-weight: 300;
  font-family: "Nunito Sans", serif;
  color: var(--black);
}
section .container .login form input {
  outline: none;
  border: 0.6px solid var(--Palladium);
  border-radius: 6px;
  width: 100%;
  padding: 20px;
  margin: 10px 0 20px 0;
}
section .container .login form input::placeholder {
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito Sans", serif;
}

section .container .login form .forget {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
section .container .login form .forget label {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito Sans", serif;
}
section .container .login form .forget input {
  cursor: pointer;
  width: 20px;
}
section .container .login form a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito Sans", serif;
  color: var(--Stieglitz-Silver);
}
section .container .login form input[type="submit"] {
  background-color: var(--Blue-Screen-of-Death);
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  font-family: "Nunito Sans", serif;
}
section .container .image {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: var(--Blue-Screen-of-Death);
  border-radius: 20px;
}
section .container .image img {
  position: absolute;
  right: 150px;
  top: 75px;
  width: 100%;
}
@media (max-width: 1200px) {
  section .container .image {
    display: none;
  }
  section .container .login {
    width: 100%;
  }
  section .container .login h1 {
    font-size: 30px;
  }
}
